* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;

}


h1 {
    font-size: 3.77em;
}

h2 {
    font-size: 2.11em;
}

h3 {
    font-size: 1.55em;
}

h4 {
    font-size: 1em;
}

h1, h2, h3, h4, h5 {
    margin: 0 0 20px 0;
    line-height: 1.2;
    font-weight: bold;
}

section {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.orange {
    color: #f0a202
}

.clover {
    color: #008F00;
}

.salmon {
    color: #FF7E79;
}

label {
    display: inline-block;
    min-width: 90px;
    text-align: right;
}



input,
textarea {
    /* To make sure that all text fields have the same font settings
    By default, text areas have a monospace font */
    font: 1em sans-serif;
    /* Uniform text field size */
    width: 300px;
    box-sizing: border-box;
    /* Match form field borders */
    border: 1px solid #999999;
}

input:focus,
textarea:focus {
    /* Set the outline width and style */
    outline-style: solid;
    /* To give a little highlight on active elements */
    outline-color: black;
}

textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;
    /* Provide space to type some text */
    height: 5em;
}

li {
    margin-bottom: 1rem;
    margin-left: 1.2rem;
}

li button {
    margin-left: 1rem;
    font-size: 0.9rem;
}



