* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Helvetica, Georgia, sans-serif;
}


h1, h2, h3, h4, h5 {
    margin: 10px 0 10px 0;
    line-height: 1.5;
    font-weight: bold;
}

article {
    min-width: 400px;
    padding: 10px;
    margin: 10px;
    background: #96BEE650;
}

section {
    display: flex;
    flex-flow: row wrap;
}

@media (min-width: 500px) and (max-width: 600px) {
    article {
        background: #F2665E;
    }
}

@media (width <= 400px) {
    article {
        min-width: unset;
        flex: 1;
    }
}
